html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,nav,section,article,aside,footer{
	border:0;
	margin:0;
	outline:0;
	padding:0;
	background:transparent;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}

html{
	overflow-y:scroll;
}

body{
	background:#fdfdfd;
	color:#353535;
	font:normal 18px/25px Palatino,"Palatino Linotype",serif;
	text-rendering:optimizeLegibility;
}

html>body{
	font-size:18px;
	line-height:25px;
}

h1,h2,h3,h4,h5,h6,strong,b,dt,th{
	font-weight:700;
}

p,ul,ol,dl,blockquote,pre{
	margin:0 0 25px;
}

li ul,li ol{
	margin:0;
}

ul{
	list-style:outside disc;
}

ol{
	list-style:outside decimal;
}

li{
	margin:0 0 0 44px;
}

a{
	text-decoration:underline;
}

a:hover{
	text-decoration:none;
}

form ul.fields li{
	list-style-type:none;
	margin:0;
}

form ul.inline li,form ul.inline label{
	display:inline;
}

form ul.inline li{
	padding:0 .75em 0 0;
}

.group:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

body{
	text-rendering:optimizeLegibility;
	color:#222222;
	position:relative;
}

body a{
	text-decoration:none;
	color:#e50053;
}

body a:hover{
	text-decoration:underline;
}

body h1,body h2,body h3,body h4,body h5,body h6{
	font-family:'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
	font-weight:normal;
}

body h1 a,body h2 a,body h3 a,body h4 a,body h5 a,body h6 a{
	color:#222222;
}

body h1 a:hover,body h2 a:hover,body h3 a:hover,body h4 a:hover,body h5 a:hover,body h6 a:hover{
	color:#e50053;
	text-decoration:none;
}

body code,body pre{
	font-family:Consolas,Menlo,"Courier New",monospace;
	font-size:14px;
}

body .codehilite code,body .codehilite pre{
	font-family:Consolas,Menlo,"Courier New",monospace;
	font-size:16px;
	line-height:25px;
	overflow-x:auto;
	border:1px solid #d5d5d5;
	border-left:10px solid #d5d5d5;
	background-color:#fafafa;
	padding:11px 15px 12px;
	margin-left:-25px;
}

body .codehilite pre::-webkit-scrollbar{
	height:25px;
}

body .codehilite pre::-webkit-scrollbar-button:start,body .codehilite pre::-webkit-scrollbar-button:end{
	display:none;
}

body .codehilite pre::-webkit-scrollbar-track-piece{
	background-color:#eee;
}

body .codehilite pre::-webkit-scrollbar-thumb{
	background-color:#bbb;
	border:7px solid #eee;
	-webkit-background-clip:padding-box;
	-webkit-border-radius:12px;
}

body p code,body li code,body table code{
	border:1px solid #ccc;
	background-color:#fafafa;
	font-size:13px;
	padding:1px 3px;
	line-height:20px;
	margin:0;
	white-space:nowrap;
}

body .wrap{
	width:612px;
	margin:0 auto;
	margin-bottom:5em;
}

body .wrap .top header{
	float:left;
	font-family:'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
	font-size:23px;
	line-height:50px;
	text-transform:lowercase;
	padding-left:2px;
	width:210px;
}

body .wrap .top header .amp{
	font-style:italic;
}

body .wrap .top header a{
	color:#222222;
}

body .wrap .top header a:hover{
	color:#e50053;
}

body .wrap .top nav{
	font:normal 18px/50px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
	text-align:right;
	text-transform:lowercase;
	padding-right:2px;
	width:398px;
	float:left;
}

body .wrap .top nav .sep{
	padding:0 4px;
	color:#666;
}

body .wrap .hr{
	margin-top:-12px;
	margin-bottom:37px;
	height:25px;
	
}



body .wrap footer{
	text-align:center;
}

body .wrap footer p{
	font-size:14px;
	font-style:italic;
	line-height:50px;
	margin-bottom:0px;
}

body .wrap footer .rochester-made img{
	opacity:0.7;
	padding:5px 20px;
}

hr{
	border:none;
	background:#ccc;
	height:1px;
	margin-bottom:24px;
}



.section-listing{
	margin-bottom:-50px;
}

.section-listing ol{
	list-style-type:none;
}

.section-listing ol li{
	float:left;
	width:281px;
	height:150px;
	margin:0;
	text-align:center;
}

.section-listing ol li a{
	font:normal 23px/32px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
	color:#222222;
	display:block;
}

.section-listing ol li a:hover{
	color:#e50053;
	text-decoration:none;
}

.section-listing ol li span.snip{
	font-size:18px;
	color:#333;
	font-family:'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif;
	line-height:25px;
	font-style:italic;
}

.section-listing ol li .amp{
	font-style:italic;
}

.section-listing ol li:nth-child(odd){
	margin-right:25px;
}

.section-listing ol li:nth-child(even){
	margin-left:25px;
}
